@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    /* --категория-свойство-вариант */
    /* --свойство-вариант */    

    --color-accent: #d3863c;
    --color-gray:   #929292;
    --color-header: #191d26;
    --color-filter: #1c212c;
    --color-faq:    #2e313a;
}

*, *::before, *::after {
  box-sizing: border-box;
}