@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    /* --категория-свойство-вариант */
    /* --свойство-вариант */    

    --color-accent: #d3863c;
    --color-gray:   #929292;
    --color-header: #191d26;
    --color-filter: #1c212c;
    --color-faq:    #2e313a;
    --color-blue:   #60ceff;
    --color-viol:   #baacff;
    --color-purple: #ec8cf7;
    --color-green:  #21e41d;

    --rarity-mil:        65, 105, 225;
    --rarity-restricted: 138, 43, 226;
    --rarity-industrial: 39, 155, 240;
    --rarity-classified: 227, 52, 200;
    --rarity-covert:     234, 47, 47;
    --rarity-rare:       233, 191, 12;
    --rarity-base:       221, 221, 221;
    --rarity-container:  89, 86, 86;
}

*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  color: white;
}
@layer utilities {
  .click {
    @apply cursor-pointer hover:opacity-70 active:opacity-40
  }
  .disabled {
    @apply cursor-no-drop grayscale
  }
}

input[type="range"] {
  appearance: none;
  height: 4px;
  background: var(--color-accent);
  border-radius: 3px;
}